@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f8fafc;
    --background-2: #f1f5f9;
    --background-3: #e2e8f0;

    --foreground: #020617;

    --card: #e2e8f0;
    --card-foreground: #020617;

    --accent: #e11d48;
    --accent-hover: #be123c;
    --accent-foreground: #f1f5f9;
  }

  .dark {
    --background: #020617;
    --background-2: #0f172a;
    --background-3: #1e293b;

    --foreground: #f1f5f9;

    --card: #1e293b;
    --card-foreground: #f1f5f9;

    --accent: #e11d48;
    --accent-hover: #be123c;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

.menu ul li:hover > .sub-menu,
.menu ul li:hover > .nested-sub-menu,
.menu ul li:hover > .megamenu-content {
  display: flex;
  visibility: visible; /* Show submenus on hover */
}
