@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f8fafc;
    --background-2: #f1f5f9;
    --background-3: #e2e8f0;

    --foreground: #020617;

    --card: #e2e8f0;
    --card-foreground: #020617;

    --accent: #e11d48;
    --accent-hover: #be123c;
    --accent-foreground: #f1f5f9;
  }

  .dark {
    --background: #020617;
    --background-2: #0f172a;
    --background-3: #121b2f;
    --background-4: #121b2f;

    --foreground: #f1f5f9;

    --card: #1e293b;
    --card-2: #192236;
    --card-foreground: #f1f5f9;

    --accent: #e11d48;
    --accent-hover: #be123c;
  }
}

@layer base {
  body {
    @apply text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

.menu ul li:hover > .sub-menu,
.menu ul li:hover > .nested-sub-menu,
.menu ul li:hover > .megamenu-content {
  display: flex;
  visibility: visible; /* Show submenus on hover */
}

@media (min-width: 640px) {
  .testimonial-slider-gradient::after {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgb(14 23 42) 0%,
      rgba(0, 0, 0, 0) 15%,
      rgba(0, 0, 0, 0) 85%,
      rgb(14 23 42) 100%
    );
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
  }
}
